<div class="row">
  <div class="col-xs-10">
    <rb-shopping-list-add [item]="selectedItem" (cleared)="onSelectItem($event)"></rb-shopping-list-add>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let item of items" (click)="onSelectItem(item)">
        {{item.name}} - ({{item.amount}})
      </a>
    </ul>
  </div>
</div>
<div class="row">
  <ul class="flex-container">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
    <li class="flex-item">6</li>
  </ul>
</div>
