<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Recipe book</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
            Recipe Management
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()" style="cursor: pointer;">Store recipes</a></li>
            <li><a (click)="onRetrieve()" style="cursor: pointer;">Retrieve recipes</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
